body{
	font-family: Open Sans;
	color: white;
	border: 20px solid gray;
	background-image: url("wood.jpg");
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px;
	min-width: 300px;
}
h1{
	font-size: 5rem;
}
p{
	font-size: 20px;
}
hr{
	width: 90%;
	margin-left: 0px;
}